[submodule "mindworms"]
	path = mindworms
	url = https://github.com/BRomans/mindworms.git
[submodule "mindworms-signal-processing"]
	path = mindworms-signal-processing
	url = https://github.com/BRomans/mindworms-signal-processing.git
